/* h3{
  background-color: tan ;
  font-family: Arial;
}
p{
  background-color: rgb(140, 210, 189) ;
  font-family: Arial;
} */
*{
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
}

/* .highlight{
  background-color: rgb(219, 196, 201);
  text-indent: 15px;
  word-spacing: 10px;
}

#company_name{
  background-color:rgb(226, 101, 43);
  color: whitesmoke;
  font-size: 45px;
  font-weight: normal;
  font-style: normal;
  /* text-transform: capitalize; */
  /* text-decoration: none;
  text-align: center;
  text-shadow: 4px 4px 5px black;
  letter-spacing: 3px;
}
 */
ul{
  /* list-style-type: square;
  list-style-position: outside; */
  list-style:circle outside ;
} */

#container{
  width: 85%;
  margin: 0 auto;
}
table{
  border-collapse: collapse;
}

.box-container-1{
  background-color: blue;
  height:150px;
  width: 150px;
  border: 30px dashed white;
  margin-bottom: 15px;
}
.box-container-2{
  background-color:green;
  height:150px;
  width: 150px;
  border: 30px dashed white;
  margin-bottom: 15px;

  
}
.box-container-3{
  background-color:red;
  height:150px;
  width: 150px;
  border: 30px dashed white;
  margin-bottom: 15px;

  
}
.box-container-4{
  background-color:brown;
  height:150px;
  width: 150px;
  border: 30px dashed white;
  
}
a:hover{
  background-color:yellowgreen;
}
#firstname:focus{
  background-color: yellow;
}